services:
  php:
    build: .
    container_name: php-apache
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    networks:
      - app-network
    depends_on:
      - db  # PHP будет ждать запуска базы данных

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_DATABASE: SpyPerson       # Имя базы, создастся автоматически
      MYSQL_ROOT_PASSWORD: root       # Пароль суперпользователя
    ports:
      - "3306:3306"
    networks:
      - app-network
    volumes:
      - db_data:/var/lib/mysql        # Чтобы данные не удалялись при выключении

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin-panel
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

# Обязательно добавь это в конец файла, чтобы данные базы сохранялись на диске
volumes:
  db_data: